.heading{
   background-color:orange;
   color:darkblue;
}

h1.heading{
   text-align: center;
}

p{
   background-color: cornflowerblue;
   color: #f5f5f5;
}
p,li{
   font-family:"Brush Script MT", cursive;
}

#ingredients{
   background-color: lightgreen;
}

#steps{
   background-color: aquamarine;
}